{
  "PublisherId": "CN=D45E9A73-CAC0-4016-B90C-AF73E4D30AF1",
  "PublisherDisplayName": "Inavda Games",
  "PackageIdentityName": "38916InavdaGames.InavdaTest",
  "DisplayName": "InavdaTest",
  "AppId": "9P2XN4G9P50F",
  "ProductFamilyName": "38916InavdaGames.InavdaTest_8c7cb7x31xqhg",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-00006efa0200",
  "TitleId": 1861878272,
  "Sandbox": "BLZFTT.58",
  "XboxLiveCreatorsTitle": true
}